body {
  background-color: #3251;
  font-family: Ariel, Helvetica, sans-serif;
  Margin: 5% 20%;
  
}
h1 {
  color: black;
  font-family: elegant;
  text-align: center;
  border-top: 9px solid #846;
  border-bottom: 9px solid #846;
  background-color: rgba(0,0,0, 0.06)
}
h3 {
  text-transform: uppercase;
  font-family: elegant;
}
